* {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

/*header section*/
.header-section {
    text-align: center;
    height: 80vh;
    background-image: url(./peter-gargiulo-cGNCepznaV8-unsplash.jpg);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.header-section img {
    max-width: 20%;
    margin-bottom: 30px;
}
.header-section h1 {
    font-size: 80px;
    font-weight: 700;
    color: rgba(255,255,255,0.9);
}
.header-section h3 {
    font-size: 45px;
    font-weight: 500;
    color:#ff6347;
}
.header-button {
    background: rgba(255, 192, 74, 0.5);
    margin-top: 30px;
    border: 0px;
    border-radius: 0px;
    color: white;
    text-align: center;  
    padding: 15px 30px;
    width: 200px;
}
.header-button:hover {
    background: #ff6347;
    font-weight: bold;
}
.header-button a {
    text-decoration: none;
    color: white;
}
/*mobile responsiveness*/
@media(max-width: 810px) {
    .header-section {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .header-section h1 {
        font-size: 70px;
    }

    .header-section h3 {
        font-size: 30px;
    }
}
@media(max-width: 480px) {
    .header-section h1 {
        font-size: 50px;
    }
}


/*about me section*/
.about-me-section {
    text-align: center;
    height: 80vh; 
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.about-me-row {
    margin: 0 auto;
    width: 100%;
    max-width: 80%;
}
.about-me-section h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
@media (max-width: 480px) {
     .about-me-section {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .about-me-section h2 {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .about-me-section p {
        font-size: 14px;
    }
   
}

.about-me-contact-button {
    background: rgba(255, 192, 74, 0.5);
    padding: 15px 30px;
    margin-top: 15px;
    border: 0px;
    color: #000000;
    width: 300px;
    text-align: center;
    margin: 15px auto 0px;  
}
.about-me-contact-button:hover {
    background: #ff6347;
    font-weight: bold;
}
.about-me-contact-button a {
    text-decoration: none;
    color: white;
}
/*tablet responsiveness*/
@media(max-width: 810px) {
  .about-me-section {
      padding-top: 90px;
      padding-bottom: 90px;
  }
}




 

/*my skills section*/
.my-skills-section {
    background-color: #000000;
    background-image: url(./peter-gargiulo-cGNCepznaV8-unsplash.jpg);
    background-attachment: fixed;
    height: 80vh; 
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}
@media(max-width: 480px) {
    .my-skills-section {
    flex-direction: column;
    }
}
.my-skills-row {
    width: 100%;
    margin: 0 auto;
}
.my-skills-section h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color:rgba(255,255,255,0.8);
}
@media (max-width: 480px) {
    .my-skills-section h2 {
        font-size: 40px;
    }
}
.my-skills-section i {
    font-size: 60px;
    color: #ff6347;
}
@media (max-width: 480px) {
    .my-skills-section i {
        font-size: 40px;
    }
}
.my-skills-section ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.my-skills-section li {
    display: block;
    list-style: none;
    text-align: center;
}

.skills-row {
    padding: 50px;
}
.skills-row h3 {
    text-align: center;
    font-size: 18px;
    color: #ffffff;
}
@media (max-width: 480px) {
    .skills-row h3 {
        font-size: 16px;
    }
}
/*tablet responsiveness*/
@media(max-width: 810px) {
    .my-skills-section {
        padding-top: 90px;
        padding-bottom: 90px;
    }
  }




/*project section*/
.my-work-section {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
@media(max-width: 810px) {
    .my-work-section {
        height: 1000px;
        flex-direction: column;
        padding-top: 90px;
        padding-bottom: 90px;
    }
  }
@media(max-width: 480px) {
    .my-work-section {
        height: 800px;
    }
}

.my-work-section h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #000000;    
    margin-bottom: 50px;
}
@media (max-width: 480px) {
    .my-work-section h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }
}

/*expanding cards css section*/
#expanding-cards-section {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
}

.container {
    display: flex;
    width: 100%;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    border-radius: 50px;
    border: 1px solid #000;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}
/*tablet responsiveness*/
@media(max-width: 810px) {
    .panel {
        height: 40vh;
        background-size: cover;
        flex-direction: column;
    }
    #expanding-cards-section {
        flex-direction: column;
        height: 100%;
    }
    .container {
        height: 100%;
    }
  }

.panel h3 {
    font-size: 22px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    color: #000000;
}

.panel.active {
    flex: 5;
}
.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
    background-color: #ffffff;
    width: 275px;
    border-radius: 40px;
    padding: 5px 10px;
}

@media(max-width: 480px) {
    .container {
        width: 100vh;
    }
}



/*contact section*/
.contact-section {
    text-align: center;
    height: 40vh;
    background-image: url(./peter-gargiulo-cGNCepznaV8-unsplash.jpg);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
@media(max-width: 480px) {
    .contact-section {
       height: 60vh;
    }
}
.contact-section h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color:rgba(255,255,255,0.8);
}
@media (max-width: 480px) {
    .contact-section h2 {
        font-size: 40px;
    }
}
.contact-section p {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
    color:rgba(255,255,255,0.8);

}
.contact-section ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.contact-section ul li {
    font-size: 40px;
    color: #ff6347;
}
.contact-section ul li:hover {
    font-size: 50px;
    margin-top: -15px;
}
.contact-section ul li a{
    color: #ff6347;
    text-decoration: none;
}
.contact-section a:hover {
    color: #FFC04A;
    overflow: hidden;
}
.contact-section small {
    color: rgba(255,255,255,0.7);
    margin-top: 30px;
}

