* {
    font-family:
}
/*header section*/
.header-section {
    text-align: center;
    height: 80vh;
    background-image: url(./peter-gargiulo-cGNCepznaV8-unsplash.jpg);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.header-section h1 {
    font-size: 80px;
    font-weight: 700;
    color: rgba(255,255,255,0.9);
}
.header-section h3 {
    font-size: 45px;
    font-weight: 500;
    color: rgba(255,255,255,0.7);
}
.header-button {
    background: #975559;
    padding: 15px 30px;
    margin-top: 15px;
    border: 0px;
    color: white;
    width: 300px;
    text-align: center;
    margin: 15px auto 0px;
    border-radius: 5px;
}
.header-button:hover {
    background: rosybrown;
}
.header-button a {
    text-decoration: none;
    color: white;
}


/*about me section*/
.about-me-section {
    text-align: center;
    height: 80vh; 
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.about-me-row {
    margin: 0 auto;
    width: 100%;
    max-width: 80%;
}
.about-me-section h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.about-me-contact-button {
    background: #975559;
    padding: 15px 30px;
    margin-top: 15px;
    border: 0px;
    color: white;
    width: 300px;
    text-align: center;
    margin: 15px auto 0px;  
    border-radius: 5px; 
}
.about-me-contact-button:hover {
    background: rosybrown;
}
.about-me-contact-button a {
    text-decoration: none;
    color: white;
}
.image-column {
    padding: auto 0px;
    text-align: center;
    padding-right: 0px;
}
 

/*my skills section*/
.my-skills-section {
    background-color: #000000;
    background-image: url(./peter-gargiulo-cGNCepznaV8-unsplash.jpg);
    background-attachment: fixed;
    height: 80vh; 
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}
.my-skills-row {
    width: 100%;
    margin: 0 auto;
}
.my-skills-section h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color:rgba(255,255,255,0.8);
}
.my-skills-section i {
    font-size: 60px;
    color: #975559;
}
.my-skills-section ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.my-skills-section li {
    display: block;
    list-style: none;
    text-align: center;
}

.skills-row {
    padding: 50px;
}
.skills-row h3 {
    text-align: center;
    font-size: 18px;
    color: #ffffff;
}




/*project section*/
.my-work-section {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.my-work-section h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #000000;    
    margin-bottom: 0px;
}

/*expanding cards css section*/
#expanding-cards-section {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    overflow: hidden;
    margin: 0 auto;
}

.container {
    display: flex;
    width: 80%;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    border-radius: 50px;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}
.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media(max-width: 480px) {
    .container {
        width: 100vh;
    }

    .panel:nth-of-type(3) {
        display: none;
    }
}



/*contact section*/
.contact-section {
    text-align: center;
    height: 40vh;
    background-image: url(./peter-gargiulo-cGNCepznaV8-unsplash.jpg);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.contact-section h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color:rgba(255,255,255,0.8);
}
.contact-section p {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
    color:rgba(255,255,255,0.8);

}
.contact-section ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.contact-section ul li {
    font-size: 40px;
    color: #975559;
}
.contact-section ul li:hover {
    font-size: 50px;
    margin-top: -15px;
}
.contact-section ul li a{
    color: #975559;
    text-decoration: none;
}
.contact-section a:hover {
    color:rosybrown;
    overflow: hidden;
}
.contact-section small {
    color: rgba(255,255,255,0.7);
}