/*header section*/
.header-section {
    /*background: no-repeat center/100% url("./arizona-background.jpg");
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;*/
    text-align: center;
    height: 70vh;
    background-image: url(./peter-gargiulo-cGNCepznaV8-unsplash.jpg);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
/*.parallax {
    background-image: url("./arizona-background.jpg");
    height: fit-content;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/
.header-section h1 {
    font-size: 90px;
    font-weight: 900;
    color: rgba(255,255,255,1);
}
.header-section h3 {
    font-size: 45px;
    font-weight: 500;
    color: rgba(255,255,255,0.7);
}
.header-button {
    background: #975559;
    padding: 15px 30px;
    margin-top: 15px;
    border: 0px;
    color: white;
    width: 300px;
    text-align: center;
    margin: 15px auto 0px;
    border-radius: 5px;
}
.header-button:hover {
    background: rosybrown;
}
.header-button a {
    text-decoration: none;
    color: white;
}


/*about me section*/
.about-me-section {
    background-color: #f2f2f2;
    background-image: url(jon-moore-6LkJpiEPl58-unsplash.jpg);
    padding-top: 90px;
    padding-bottom: 90px;
}
.about-me-row {
    margin: 0 auto;
    width: 100%;
    max-width: 70%;
    background-color: rgba(255,255,255,0.85);
    border-radius: 5px;
    box-shadow: 0px 8px 40px rgba(0,0,0,0.5);
}
.about-me-column h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.about-me-text-module {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-top: 8%;
    padding-bottom: 8%;
}
.about-me-contact-button {
    background: #975559;
    padding: 15px 30px;
    margin-top: 15px;
    border: 0px;
    color: white;
    width: 300px;
    text-align: center;
    margin: 15px auto 0px;  
    border-radius: 5px; 
}
.about-me-contact-button:hover {
    background: rosybrown;
}
.about-me-contact-button a {
    text-decoration: none;
    color: white;
}
.image-column {
    padding: auto 0px;
    text-align: center;
    padding-right: 0px;
}
.image-column img {
    margin: 0 auto;
    max-width: 100%;
    height: 65vh;
    object-fit: cover;
    border-radius: 0px 5px 5px 0px;
}
 

/*my skills section*/
.my-skills-section {
    padding: 20px;
    background-color: #c5c5c5;
}
.my-skills-row {
    width: 100%;

    margin: 0 auto;
}
.my-skills-section h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
.my-skills-section i {
    font-size: 100px;
    color: #975559;
}
.my-skills-section ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.my-skills-section li {
    display: block;
    list-style: none;
}
.first-skills-row {
    padding: 50px;
}
.first-skills-row h3 {
    text-align: center;
    font-size: 18px;
}
.second-skills-row {
    padding: 50px;
}
.second-skills-row h3 {
    text-align: center;
    font-size: 18px;
}


/*my work section*/
.my-work-section {
    background-color: rgba(188,143,143,0.3);
    background-image: url(jon-moore-6LkJpiEPl58-unsplash.jpg);
   
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}
.my-work-section h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    color: rgba(255,255,255,0.9);
    text-shadow: -1px 3px #000;    

}
.my-work-section h3 {
    font-size: 38px;
    font-weight: 300;
}
.work-row {
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    box-shadow: 0px 8px 40px rgba(0,0,0,0.2);
}
.image-column-two {
    padding: auto 0px;
    text-align: center;
    padding-left: 0px;
}
#landing-page-pic {
    max-width: 100%;
    height: auto;
    border-radius: 5px 0px 0px 5px;
    margin: 0 auto;
    object-fit: cover;
}

.work-row-two, .work-row-three, .work-row-four {
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
    width: 100%;
    max-width: 80%;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 8px 40px rgba(0,0,0,0.3);
}
.project-description {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.image-column-three, .image-column-four {
    padding: auto 0px;
    text-align: center;
    padding-left: 0px;

}
#first-weather-project {
        max-width: 100%;
        height: auto;
        border-radius: 5px 0px 0px 5px;
        object-fit: cover;
}
#react-weather-pic {
    max-width: 100%;
    height: auto;
    border-radius: 5px 0px 0px 5px;
    object-fit: cover;
}
.click-text {
    color: #975559;
}
.click-text:hover {
    color: rosybrown;
    text-decoration: line-through;
}

/*contact section*/
.contact-section {
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    background: linear-gradient(135deg, #000000 90%, #3b3b3b 50%);

}
.contact-section h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color:rgba(255,255,255,0.8);
}
.contact-section p {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
    color:rgba(255,255,255,0.8);

}
.contact-section ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.contact-section ul li {
    font-size: 40px;
    color: #975559;
}
.contact-section ul li:hover {
    font-size: 50px;
    margin-top: -15px;
}
.contact-section ul li a{
    color: #975559;
    text-decoration: none;
}
.contact-section a:hover {
    color:rosybrown;
    overflow: hidden;
}
footer {
    bottom: 5px;
    background-color: #000000;
    background: linear-gradient(135deg, #000000 84%, #3b3b3b 50%);

    text-align: center;
    color:#3b3b3b;
}